<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
          {{ successMsg }}
      </div>
  </div>
</div>
<div class="container">
  <div class="py-4 my-5 text-center">
    <h1>Place Order<hr></h1>
  </div>
  {{# each products }}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
    {{# each this }}
    <div class="col my-3 ">
      <div class="card mb-4 shadow-sm text-center">
        <div class="card-header py-3 bg-secondary text-light">
          <h4 class="my-0 fw-normal " name="itemname">{{ this.title }}</h4>
        </div>
        <div class="card-body">
          <img src="{{ this.imagePath }}" name="image" height="150" width="200" />
          <h2 class="card-title pricing-card-title py-3" name="price3">Price: {{ this.price }}/-</h2>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-default btn-sm">
          <button class="btn btn-success cart-button px-4 py-2"><i class="fa fa-shopping-cart lg"></i> Add to cart</button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{/each}}
</div>




      